<section class="hero-section d-flex justify-content-center align-items-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <div class="hero-section-text mt-5">
                    <h6 class="text-white">Are you hungry and in need of help? We got you!</h6>

                    <h1 class="hero-title text-white mt-4 mb-4">Food Bank Resource Center<br></h1>

                    <a href="#categories-section" class="custom-btn custom-border-btn btn">Browse Categories</a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <form id="homePageForm" class="custom-form hero-form" action="#" method="get" role="form">
                    <h3 class="text-white mb-3">Search for nearest food bank</h3>



                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><i
                                    class="bi-geo-alt custom-icon"></i></span>

                            <input type="text" name="job-location" id="job-location" class="form-control"
                                placeholder="Location" required>
                        </div>
                    </div>

                    <div class="col-lg-12 col-12">
                        <button type="submit" class="form-control">
                            Find location
                        </button>
                        <div id="showName"></div>
                    </div>

                    <div class="col-12">
                        <div class="d-flex flex-wrap align-items-center mt-4 mt-lg-0">
                            <span class="text-white mb-lg-0 mb-md-0 me-2"></span>
                        </div>
                    </div>
            </div>
        </div>
        </form>
    </div>

    </div>
    </div>
</section>


<section class="categories-section section-padding" id="categories-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">About <span>Us</span></h2>
                <h4>Food Fighters</h4>
                <p>
                    We want to help Californians. Our idea is creating a food bank resource within the state of
                    California. By establishing a food bank website resource, we can provide essential food supplies to
                    individuals and families facing food insecurity. We would like users to be able to log in to find
                    resources and then have those be delivered by the organization for those who do not have the
                    mobility to travel to the food bank. Reaching out to potential donors, volunteers, and community
                    members can help raise awareness and gather support for your food bank.
                </p>
            </div>
            <script src="js/home.js"></script>